<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form class="container-input" action="/search" method="post">
      <input type="text" name="twitt" value="">
      <button type="submit" name="button">Search</button>
    </form>
  </body>
</html>
